<h1>Клиент отменил заявку на кредит</h1>

<p>Клиент отменил заявку на кредит № {{ request_id }}</p>

<p>Ссылка на заявку: {{ abs_url('/admin/requests.php') }}?id_filter_from={{ request_id }}
  &id_filter_to={{ request_id }}</p>

<p>
  <small>Письмо отправлено автоматически с сайта <a href="{{ abs_url() }}">bliss24.ru</a>. На него не надо отвечать.
  </small>
</p>
