{% extends "base.twig" %}

{% block title %}{{ title }} | {{ site_name }}{% endblock %}

{% block body %}

  <div class="page container d-flex flex-column p-sm-0">

    <div
      class="header container d-flex flex-column align-items-center flex-sm-row justify-content-sm-between align-items-sm-center mb-4 mb-sm-0 mt-3 mt-sm-0 p-0">

      <div
        class="header__logo logo order-2 order-sm-1 flex-grow-1 d-flex justify-content-start justify-content-md-center">
        <img src="{{ abs_url('/assets/front/img/bliss-logotype.png') }}"
             srcset="{{ abs_url('/assets/front/img/bliss-logotype@2x.png') }} 2x, {{ abs_url('/assets/front/img/bliss-logotype@3x.png') }} 3x"
             width="89" height="102" alt="">
      </div><!-- header__logo -->

      <div class="header__phone-wrapper order-1 order-sm-2 d-flex flex-column align-items-center align-items-sm-end">
        <div class="header__phone phone d-flex align-items-center justify-content-center justify-content-sm-end">
          <div class="phone__number d-flex align-items-center">
            <span class="icon icon-phone"></span>
            <a href="tel:{{ second_phone_link }}" class="link link_black">{{ second_phone_number }}</a>
          </div>
        </div><!-- header__phone -->

        <p class="header__phone-hours">{{ work_time }}</p>

        <div
          class="header__phone phone order-1 order-sm-2 d-flex align-items-center justify-content-center justify-content-sm-end mb-3 mb-sm-0">
          <div class="phone__number d-flex align-items-center">
            <span class="icon icon-phone"></span>
            <a href="tel:{{ phone_link }}" class="link link_black">{{ phone_number }}</a>
          </div>
        </div><!-- header__phone -->
      </div>

    </div><!-- header -->

    <div class="container message mb-5 p-0">

      <div class="anketa mb-5">
        <h1 class="message__title mb-5">Анкета магазина</h1>

        <p>
          <a href="{{ abs_url('/profile-shop/download-documents') }}" class="link link_bold link_underline">Скачайте
            бланки</a>, при необходимости отредактируйте, подпишите и заверьте печатью (если она есть).
        </p>
        <p>В скачанных бланках проверьте анкету по 115 ФЗ. Убедитесь, что поля, помеченные звёздочкой, заполнены.</p>
        <p>Затем загрузите готовые документы в форму ниже.</p>
      </div>

      <div class="anketa mb-5">
        <span class="legend d-block w-100 text-left text-sm-center text-lg-left mb-3">Дополнительно</span>

        <p>
          <a href="{{ offer_link }}" class="document link link_black" target="_blank" rel="noopener">Ознакомьтесь</a>
          с порядком реализации Партнером ООО МФК «ВЭББАНКИР» товаров (услуг/работ) при помощи WEBBANKIR KASSA.
        </p>
      </div>

      <form id="js-formProfileShopSecondStep" class="anketa container d-flex flex-column align-items-center p-0"
            action="{{ form_action }}" method="post" enctype="multipart/form-data">

        <span class="legend d-block w-100 text-left text-sm-center text-lg-left mb-3">Подписанные документы</span>

        <div
          class="anketa__fieldset d-flex flex-column align-items-center flex-lg-row justify-content-lg-between justify-content-xl-start align-items-lg-start w-100">

          <div class="anketa__column anketa__column_left">

            <div id="js-formProfileShopSecondStepWrapperDocumentContract" class="mb-4">
              <span class="label d-block">Соглашение</span>
              <div class="custom-file">
                <label for="js-formProfileShopSecondStepInputContract" class="custom-file-label">
                  PDF, JPEG максимум 30 МБ
                </label>
                <input id="js-formProfileShopSecondStepInputContract" class="custom-file-input custom-file-input__multiple" type="file"
                       accept="application/pdf,image/jpg,image/jpeg" name="document_contract[]" multiple>
              </div>
            </div>

            <div id="js-formProfileShopSecondStepWrapperDocumentQuestionnaireFl115" class="mb-4">
              <span class="label d-block">Анкета-опросник по 115 ФЗ</span>
              <div class="custom-file">
                <label for="js-formProfileShopSecondStepInputDocumentQuestionnaireFl115"
                       class="custom-file-label">PDF, JPEG максимум 30 МБ</label>
                <input id="js-formProfileShopSecondStepInputDocumentQuestionnaireFl115" class="custom-file-input custom-file-input__multiple"
                       type="file" accept="application/pdf,image/jpg,image/jpeg" name="document_questionnaire_fl_115[]"
                       multiple>
              </div>
            </div>

          </div>

          <div class="anketa__column anketa__column_right">

            <div id="js-formProfileShopSecondStepWrapperDocumentJoiningApplication" class="mb-4">
              <span class="label d-block">Заявление о присоединении</span>
              <div class="custom-file">
                <label for="js-formProfileShopSecondStepInputJoiningApplication" class="custom-file-label">
                  PDF, JPEG максимум 30 МБ
                </label>
                <input id="js-formProfileShopSecondStepInputJoiningApplication" class="custom-file-input custom-file-input__multiple" type="file"
                       accept="application/pdf,image/jpg,image/jpeg" name="document_joining_application[]" multiple>
              </div>
            </div>

          </div>

        </div>

        <button id="js-formProfileShopSecondStepBtnSubmit" class="btn btn_primary btn_big" type="submit">
          Завершить регистрацию
        </button>

      </form>

    </div>

    <div
      class="footer container d-flex flex-column flex-sm-row justify-content-center justify-content-sm-between align-items-center p-0">

      <div class="footer__logo logo flex-grow-sm-1 d-flex justify-content-sm-start mb-4 mb-sm-0">
        <img src="{{ abs_url('/assets/front/img/bliss-logotype-txt.png') }}"
             srcset="assets/front/img/bliss-logotype-txt@2x.png 2x, {{ abs_url('/assets/front/img/bliss-logotype-txt@3x.png') }} 3x"
             width="152" height="44" alt="">
      </div><!-- header__logo -->

      <div class="footer__phone-wrapper d-flex flex-column align-items-center align-items-sm-end">
        <div class="footer__phone phone d-flex align-items-center justify-content-end">
          <div class="phone__number d-flex align-items-center">
            <span class="icon icon-phone"></span>
            <a href="tel:{{ second_phone_link }}" class="link link_black">{{ second_phone_number }}</a>
          </div>
        </div><!-- footer__phone -->

        <p class="footer__phone-hours">{{ work_time }}</p>

        <div class="footer__phone phone d-flex align-items-center justify-content-end">
          <div class="phone__number d-flex align-items-center">
            <span class="icon icon-phone"></span>
            <a href="tel:{{ phone_link }}" class="link link_black">{{ phone_number }}</a>
          </div>
        </div><!-- footer__phone -->
      </div>

    </div><!-- footer -->

  </div><!-- page-content -->

{% endblock %}
